<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            display: inline;
            margin-right: 10px;
        }
        body{
            background-color:red ;
        }
        div{
           display: flex;
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <div>
       <h1>NAME :   </h1> <input type="text" name="username" id="">
        <button>SEND TO DB</button>
        </div>
    </form>
</body>
</html>